---
layout: home
---

<section class="date-section">
  <h4 class="date">SPONSORED</h4>

</section>


{% for post in site.categories.featured limit:1 %}
  <section class="date-section">
    <h4 class="date">FEATURED</h4>

    <article class="post-preview">
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      {{ post.excerpt | strip_html }}
    </article>
  </section>
{% endfor %}

<div class="posts">
{% for post in site.posts limit: 10 %}
  {% unless post.categories contains 'featured' %}
    <section class="date-section">
    {% capture currentdate %}{{post.date | date: "%A, %B %d, %Y"}}{% endcapture %}
    {% if currentdate != thedate %}
      <h4 class="date">{{ currentdate | upcase }}</h4>
      {% capture thedate %}{{currentdate}}{% endcapture %} 
    {% endif %}
      <article class="post-preview">
        <h4><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}<span class="permalink"><a href="{{ post.url | prepend: site.url }}">&#9679;</a></span>{% endif %}</h4>
        {% if post.link %}{{ post.content }}{% else %}{{ post.excerpt | strip_html }}{% endif %}
      </article>
    </section>
    {% endunless %}
{% endfor %}
</div>
<!-- 
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div> -->

<div class="infinite-spinner"></div