body {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Whitney HTF', sans-serif;
	color: $black;
	font-size: 0.875rem;
	line-height: 1.5em;
	font-weight: 400;
}

h1 {
	font-size: 2rem;
	line-height: 2.25rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

blockquote {
	border-left: 5px solid $red;
	padding-left: 1rem;
}

a {
	color: $black;
	text-decoration: none;
	border-bottom: 1px dotted $red;
}

a:hover {
	border-bottom: 1px solid $red;
}

p {
	margin: 1rem 0;
}

ul {
	margin-left: 1rem;
}

.site-title a {
	font-size: 2rem;
	line-height: 1rem;
	font-variant: small-caps;
	font-weight: 600;
	text-decoration: none;
	border-bottom: none;
	color: $red;
	&:hover {
		color: $black;
	}
}

.site-nav ul {
	margin-left: 0;
	li {
		font-family: 'Whitney SSm A', 'Whitney SSm B', 'Whitney HTF', sans-serif; 
		font-variant: small-caps;
		font-size: 1rem;
		line-height: 1rem;
		margin-right: $baseline;
			&:last-of-type {
				margin-right: 0;
			}
			a {
				color: $black;
				text-decoration: none;
			}
			a:hover {
				color: $red;
			}
	}
}

.date {
	margin: 3rem 0 0.5rem;
	font-size: 0.75rem;
	text-transform: uppercase;
}

.post-preview_title {
	font-size: 1rem;
	line-height: 1.75rem;
}

.date-section:first-of-type .date {
	margin: 0 0 1rem;
	clear: both;
}

.pagination {
	text-align: center;
	margin-top: 3rem;
}

.page-number {
	padding: 0 1rem;
	color: $red;
}